[alias]
	c = commit
	p = push
	s = status
	a = add -p
	f = fetch --all
	d = diff --color --minimal
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	me = log --author="Jens" --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	u = pull --rebase
	up = pull --rebase
	cp = cherry-pick
	co = checkout
	ch = checkout
	check = checkout
	switch = checkout
	pop = stash pop
	unstash = stash pop
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	contributors = shortlog --summary --numbered
	amend = commit --amend
	cleanup = fetch -p
[core]
	excludesfile = ~/.gitignore
	editor = nano
[push]
	default = simple
[diff]
	mnemonicprefix = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
