[alias]
	c = commit -am
	p = push
	s = status
	d = diff --color --color-words --abbrev
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[color]
	ui = always
[core]
	excludesfile = ~/.gitignore
