[alias]
	c = commit -am
	p = push
	s = status
	d = diff --color --color-words --abbrev
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	u = pull --rebase
	up = pull --rebase
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	contributors = shortlog --summary --numbered
[color]
	ui = always
[core]
	excludesfile = ~/.gitignore
[push]
	default = simple
